body {
  font-family: sans-serif;
}

.main {
  display: flex;
}

.sidenav {
  width: 300px;
  padding: 1rem;
  border-right: 1px solid black;
}

.sidenav > div:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.navigation,
.filters {
  padding-block: 1rem;
}

.container {
  padding: 1rem;
  width: 100%;
}

.application-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.application {
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
}
.application .title {
  font-size: 1rem;
}
