body {
  font-family: sans-serif;
}

.main {
  display: flex;
}

.sidenav {
  width: 400px;
  padding: 1rem;
  border-right: 1px solid black;
}

.sidenav > div:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}

.navigation,
.filters {
  padding-block: 1rem;
}

.navigation {
  .title {
    display: flex;
    justify-content: space-between;
  }

  .list {
    padding-left: 1rem;
  }

  .navigation-item {
    cursor: pointer;
    padding-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &.active .name {
      text-decoration: underline;
    }

    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      border-radius: 4px;
    }
    & > span:hover {
      background: lightgray;
    }
  }
}

.filters > .title {
  margin-bottom: 1rem;
}

.spending-filter {
  .label {
    color: darkgray;
  }
  input {
    width: 100%;
  }
  .values {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.container {
  padding: 1rem;
  width: 100%;
}

.application-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.application {
  border: 1px solid black;
  padding: 2rem;
  text-align: center;
}
.application .title {
  font-size: 1rem;
}
