.main {
  display: flex;
}

.sidenav {
  width: 300px;
  padding: 1rem;
  border-right: 1px solid black;
}

.application-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.application {
  border: 1px solid black;
}
